.login-app{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 610px;
  margin-top: 200px;
  background-color: rgb(241, 241, 241);
  /* border: 5px solid rgb(192, 185, 185); */
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

p{
  font-size: large;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 5px;
}

.input-container{
  padding: 10px;
}

div input{
  padding: 10px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.button-container input{
  padding: 5px 0px;
  width: 90px;
  background-color: royalblue;
  color: white;
  font-size: large;
  border: 5px solid royalblue;
  border-radius: 5px;
  cursor: pointer;
}

.button-container input:hover{
  background-color: rgb(27, 76, 221);
  border: 5px solid rgb(27, 76, 221);
}