.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .cardItem-container {
    margin: 15px;
  }

  .rankResult-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    background-color: black;
    height: 3rem;
  }